<html>
    <head>
        <title>editBucket</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <link href="../css/bootstrap-theme.css" rel="stylesheet">
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/index.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/edit_b.js"></script>
    </head>
<body>



    <div class="container-fluid">
        <button id="backbutton">Back</button>

        <header class="header">
            <h1>Edit the Bucket</h1>
        </header>

        <form id="name" autocomplete="off" role="form" method="get" action="/">
            <label>Rename: </label>
            <input type="text" id="bucketName" name="bucketName" value="{{name}}"> <br>
        </form>

        <form method="get" name="{{name}}" id="big_form" action="/update">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Included Terms</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul>
                            {{#each include}}
                                <li id="@index">{{term}}  <button class="btn-danger remove" id="@index">x</button></li>
                                <input type="hidden" form="big_form" value="{{term}}" class="included_term">
                            {{/each}}
                        </ul>
                            <label>Add Term: </label>
                            <input type="text" id="include_terms">
                            <input class="btn" form="big_form" value="Add" type="submit"/>
                    </div>
                </div>
            </div>

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">excluded Terms</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <ul>
                            {{#each exclude}}
                                <li id="{{@index}}"> {{term}}  <button class="btn-danger" name="remove">x</button></li>
                                <input type="hidden" form="big_form" value="{{term}}" class="excluded_term">
                            {{/each}}
                        </ul>

                            <label>Add term: </label>
                            <input type="text" form="big_form" class="excluded_term" id="exclude_terms" name="exclude_terms">
                            <input type="hidden" form="big_form" value="{{name}}" id="catagory" id="catagory">
                            <input class="btn" form="big_form" value="Add" type="submit"/>

                    </div>
                </div>
            </div>
        </form>
        <p>
            <button class="btn-lg" >save</button>
            <button id="cancel" class="btn-lg">cancel</button>
        </p>

        <p><button class="btn-danger btn-lg">Delete search</button></p>
    </div>

    <script  type="text/javascript">
        document.getElementById("backbutton").onclick = function (){
            console.log('back');
            location.href = '/edit';
        };
        document.getElementById("cancel").onclick = function (){
            console.log('back');
            location.href = '/index';
        };
        document.getElementsByName("remove").onclick =function(){
            this.parentElement.style.display = 'none';
        }
    </script>
</body>