<html>
    <head>
        <title>Edit Pin</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <link href="../css/bootstrap-theme.css" rel="stylesheet">
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/edit.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/buttonClick.js"></script>
    </head>
<body>

    <div class="container">
        <header class="header">
            <button  class="editFooterButton" id="backbutton">Back</button>
            <h4>Edit the Bucket</h4>
        </header>

        <form autocomplete="off" role="form" method="get" action="/makeEdit">
            <label>Rename: </label>
            <input type="hidden" id="oldentry" name="oldentry" value="{{name}}">
            <input type="text" id="bucketName" name="bucketName" value="{{name}}"> <br>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="editLink" data-toggle="collapse" href="#collapse1">Included Terms</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul>
                            <label>Add a Term to Include: </label>
                            <input type="text" id="include_terms" name="include_terms"> 
                            <button type="button" class="btn-danger" id="add">+</button> <br>
                            {{#each include}}
                            <li>{{term}}<button type="button" class="btn-danger" id="remove">x</button></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="editLink" data-toggle="collapse" href="#collapse2">Excluded Terms</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <ul>
                            <label>Add a Term to Exclude: </label>
                            <input type="text" id="exclude_terms" name="exclude_terms"> 
                            <button type="button" class="btn-danger" id="add">+</button> <br>
                            {{#each exclude}}
                            <li> {{term}} <button type="button" class="btn-danger" id="remove">x</button></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <p>
                <input type="submit" class="btn-lg" value="Save"></button>
                <button id="cancel" class="btn-danger btn-lg">Cancel</button>
            </p>
        </form>
        <form id="del_form" role="form" method="GET" action="/delete">
            <input class="hidden" value="{{name}}" name="entry">
            <p><button class="btn-danger btn-lg" form="del_form" type="submit">Delete search</button></p>
        </form>
    </div>

    <script  type="text/javascript">
        document.getElementById("backbutton").onclick = function (){

            console.log('back')
            location.href = '/edit';
        };
        document.getElementById("cancel").onclick = function (){
            console.log('back')
            location.href = '/edit';

        };
    </script>
    <script src="../js/editTerm.js">
    </script>
</body>
