<html>
    <head>
		<title>The App</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../css/bootstrap-theme.css" rel="stylesheet">
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../css/bootstrap.css" rel="stylesheet">
		<link href="../css/index.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <button class="backButton" onclick="location.href='/index'">Back</button>
            <form role="form" method="GET" action="/makeQuery">
                <label style="height:70px; margin:16px; font-size:24px; font-weight:bold;">
                    Searching all {{filter}}:
                </label> <br>
                <input class="entry" id="filter" name="filter" type="hidden" value={{filter}} />
                <input class="entry" id="entry" name="entry" type="text" value="{{previous}}"/>

                <p><button class="searchButton"><img src="/images/search.png" height="40px" width="40px"alt="Logout"></button></p>
            </form>
            <div class="container">
                {{#each pages}}
                    <hr>
                    <div class="result"> 
                        <a class = "linkName" href={{url}}>{{name}}</a>
                        <a href={{url}}>{{displayURL}}</a>
                        <p>{{snippet}}</p>
                    </div>
                {{/each}}
            </div>
        </div>
    </body>
</html>